@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primarycolor: #ad91cf;
  --secondarycolor: rgb(196, 169, 230);
  --blackcolor: rgb(46, 46, 71);
  --borderColor: rgb(46, 46, 71);
  --inputColor: rgb(241, 241, 241);
  --successColor: rgb(205, 237, 207);
  --failerColor: rgb(255, 0, 0);
}

html {
  font-size: 90%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(images/Desktop\ -\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .form_container {
  width: 290px;
  height: 450px;
  padding: 0 1rem;
  border-radius: 3px;
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  background: var(--primarycolor);
  overflow: hidden;
  z-index: 1;
}
body .form_container .overlay {
  position: absolute;
  background: var(--secondarycolor);
  content: " ";
  height: 500px;
  width: 500px;
  border-radius: 50%;
  z-index: 2;
  top: -20%;
}
body .form_container .titleDiv {
  position: relative;
  width: 100%;
  margin: 10px auto 5px;
  text-align: center;
  transform: translateY(-3rem);
  z-index: 1000;
}
body .form_container .titleDiv .title {
  color: var(--blackcolor);
  font-weight: 700;
  font-size: 2.5rem;
}
body .form_container .rows {
  display: grid;
  position: relative;
  gap: 1rem;
  z-index: 1000;
  transform: translateY(-1rem);
  padding-bottom: 1rem;
}
body .form_container .rows label {
  display: block;
  padding-bottom: 285rem;
  font-size: 13px;
}
body .form_container .rows input {
  width: 100%;
  background: var(--inputColor);
  border: none;
  outline: none;
  color: var(--blackcolor);
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 3px;
}
body .form_container .rows ::placeholder {
  font-size: 10px;
}
body .form_container .rows #submitBtn {
  background: var(--blackcolor);
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
body .form_container .rows #submitBtn:hover {
  background: rgb(203, 203, 235);
  color: var(--blackcolor);
}
body .form_container .rows .registerLink {
  display: block;
  font-size: 13px;
  color: var(--blackcolor);
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}
body .form_container .rows .registerLink a {
  text-decoration: none;
  cursor: pointer;
}
body .register_container {
  height: 580px;
}
body .register_container .overlay {
  height: 590px;
  top: -10%;
}

.dashboard {
  text-align: center;
}
.dashboard h1 {
  font-size: 3rem;
  color: var(--primarycolor);
  margin: 1rem 0;
}
.dashboard .logOutBtn {
  cursor: pointer;
}
.dashboard .logOutBtn:hover a {
  background: var(--secondarycolor);
  color: var(--blackcolor);
}
.dashboard .logOutBtn a {
  padding: 10px 20px;
  color: white;
  background-color: var(--blackcolor);
  border-radius: 3px;
  text-decoration: none;
}

.success .addAccount {
  text-align: center;
  padding: 10px 20px;
  background: var(--successColor);
  color: var(--blackcolor);
  margin-bottom: 1rem;
}

.addAccount {
  margin: 0;
  transform: translateY(100px);
}

.failed {
  position: relative;
  z-index: 1000;
  color: var(--failerColor);
  top: -7%;
}

@media screen and (min-widht: 490px) {
  .dashboard h1 {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
