@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-navy: #3f72af;
    --color-pink: #fc5185;
    --color-blue: #364f6b;
    --color-white: #ffff;
    --color-black: black;
    --color-gray: #dedede;
}

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: var(--color-blue);
}

.menu {
    float: right;
}
.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: var(--color-blue);
}

.menu {
    float: right;
}

form input {
    padding:3px 15px;
    background: var(--color-gray);
    border:5px solid var(--color-gray);
    border-radius: 15px;
}
button {
    position:relative;
    padding:6px 15px;
    background-color: var(--color-navy);
    color: var(--color-white);
    border-radius: 15px;
    font-weight: bold;
}
.button:hover  {
    background-color: var(--color-pink);
    text-decoration: none;
}

nav {
    /* width: 100%; */
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color-white);
    z-index: 1;
    border-bottom: 1px solid var(--color-blue);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;
}

nav ul li a {
    color: var(--color-black);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: var(--color-blue);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--color-blue);
    /* width: 100%; */
    line-height: 50px;
}

a.tbl-biru {
    background: var(--color-navy);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: var(--color-white);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: var(--color-pink);
    text-decoration: none;
}

a.tbl-pink {
    background: var(--color-pink);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: var(--color-pink);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: var(--color-blue);
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.wrapper img {
    width: 600px;
    height: 400px;
}

.tengah {
    text-align: center;
}

.histori-list {
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gambar img {
    width: 90%;
    border-radius: 2%;
}

.gambar p {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: var(--color-navy);
}

.histori {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;

}

#contact {
    background: var(--color-gray);
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer {
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-blue);
    /* width: 100%; */
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 20%;
    background-color: #fc5185;
}